services:
  quantum-safe-proxy:
    image: quantum-safe-proxy:openssl35
    #    image: quantum-safe-proxy:oqs
    ports:
      - "8444:8443"
    volumes:
      - ./certs:/app/certs
      - ./config.json:/app/config.json
      - ./scripts:/app/scripts
    environment:
      - RUST_LOG=quantum_safe_proxy=debug
      - QUANTUM_SAFE_PROXY_LOG_LEVEL=debug
      - LD_LIBRARY_PATH=/opt/openssl35/lib64:/opt/openssl35/lib
      - OPENSSL_DIR=/opt/openssl35
      - OPENSSL_LIB_DIR=/opt/openssl35/lib64
      - OPENSSL_INCLUDE_DIR=/opt/openssl35/include
      - RUST_BACKTRACE=1
      - AUTO_GENERATE_CERTS=true
    command: [
      "--listen", "0.0.0.0:8443",
      "--target", "backend:6001",
      "--cert", "/app/certs/server-pqc.crt",
      "--key", "/app/certs/server-pqc.key",
      "--fallback-cert", "/app/certs/edr-server-hybrid.pem",
      "--fallback-key", "/app/certs/edr-server-hybrid.pem",
      "--client-ca-cert", "/app/certs/pqc-full-chain.crt",
      "--log-level", "debug",
      "--client-cert-mode", "required",
      "--buffer-size", "8192",
      "--connection-timeout", "60"
    ]
    networks:
      - proxy-network
    restart: unless-stopped
    depends_on:
      - backend


  backend:
    image: nginx:alpine
    container_name: backend
    volumes:
      - ./docker/nginx/html:/usr/share/nginx/html
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "6001:6001"
    networks:
      - proxy-network
    restart: unless-stopped

networks:
  proxy-network:
    driver: bridge
